html
	head
		title My Blog
		link(href="https://fonts.googleapis.com/css?family=Arvo:700|Zilla+Slab:400,700", rel="stylesheet")
		link(rel="stylesheet", href="css/home.css")
	body
		header
			#name Ahmed Noor
			#desc Software Developer
			#details
				#email ahmednr123@gmail.com
				#github https://github.com/ahmednr123
		main
			#sub_head Blogs
			article 
				#date 24th March 2019
				#heading This is the second time this has happened
			article 
				#date 2nd Febraury 2019
				#heading Flaws in the Frodo System
			article 
				#date 9th March 2019
				#heading Light the beacon
		script(src="js/main.js")